.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
body {
  background-image: url("/assets/images/background1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100%;
  max-height: 100vh;
  background: black;
}

#playerDiv {
  color: white;
}

#globalMsg {
  margin-top: 200px;
}
#playerHealthDiv {
  color: white;
}
#defendersLeftDiv {
  margin: 0 auto;
  padding: 0;
}

.card-img-top {
  border-radius: 5px;
  border: solid white 5px;
  min-width: 150px;
}
img {
  min-height: auto;
  min-width: auto;
  border-radius: 5px;
}

.col-12 {
  bottom: 0;
  margin-bottom: 20px;
}

#defenderDiv {
  color: white;
}

#game {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#selectionMenu {
  text-align: center;
}
#defenderHealthDiv {
  color: white;
}
.card-deck {
  margin-left: 60px;
  width: 100%;
  height: auto;
  border-radius: 8px;
  transition: 0.6s;
}
.card {
  animation: shadow-pulse 1s infinite;
}
.card:hover {
  opacity: 0.9;
}
.img-fluid {
  width: 50%;
  padding: 20px;
  align-items: center;
  margin: 0;
}

h3 {
  text-align: center;
  color: white;
  padding: 10px;
  font-family: "Fredoka One", cursive;
  animation: animate 1s linear infinite;
  width: 100%;
}

@keyframes animate {
  0%,
  100% {
    color: #fff;
    filter: blur(1px);
    text-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff, 0 0 40px #00b3ff,
      0 0 80px #00b3ff, 0 0 120px #00b3ff, 0 0 200px #00b3ff, 0 0 300px #00b3ff,
      0 0 400px #00b3ff;
  }
}

#saber {
  width: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 130px;

  margin-left: 45px;
}
#attackBtn {
  animation: shadow-pulse 1s infinite;
}

#msg {
  color: white;
}
@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 0 0px white;
  }
  100% {
    box-shadow: 0 0 0 3px rgb(233, 27, 61);
  }
}
.container {
  margin-bottom: 50px;
}

.row {
  margin-bottom: -120px;
  display: flex;
  flex-direction: row;
  text-align: center;
}
